<a href="https://colab.research.google.com/github/Bennybeams/IntroPython/blob/main/Introduction_%C3%A0_python_Exercices.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Les Variables**

In [6]:
varInt = 100
varStr = 'ma variable'
varTuple = (varInt,varStr)
varTuple = varTuple[:1]+('mon élément inséré',)+varTuple[1:]
varDict = {'monInt':varInt,'monStr':varStr,'monTuple':varTuple}
print(varDict)

{'monInt': 100, 'monStr': 'ma variable', 'monTuple': (100, 'mon élément inséré', 'ma variable')}

In [10]:
varTuple[1:]

('mon élément inséré', 'ma variable')

**Les Opérateurs**

In [ ]:
maListe = [2,4,6]
add = maListe[1]+maListe[2]
print (add)
mod = add%4
print (mod)
quo = add//4
print(quo)
if (add > 9):
  print("L'addition est bien superieure à 9")
maListe2 = ['je','parle','le','Python']
if ('Python' in maListe2):
  print('Le mot Python est bien dans la liste')
if ('Vipère' not in maListe2):
  print("Le mot Vipère n'est pas dans la liste")
if (maListe2 is not None):
  print("La liste n'est pas vide")

10
2
2
L'addition est bien superieure à 9
Le mot Python est bien dans la liste
Le mot Vipère n'est pas dans la liste
La liste n'est pas vide

**Les instructions conditionelles**

In [ ]:
num1=int(input("Saisir le nombre 1 : "))
num2=int(input("Saisir le nombre 2 : "))
num3=int(input("Saisir le nombre 3 : "))
 
# comparer num1, num2 et num3 pour obtenir le nombre le plus élevé
 
# afficher le résultat */
print("le maximum est = ", max)

In [ ]:
num1=int(input("Saisir le nombre 1 : "))
num2=int(input("Saisir le nombre 2 : "))
num3=int(input("Saisir le nombre 3 : "))
 
if num1 > num2:
    if num1 > num3:
        # si num1 > num2 et num1 > num3 */
        max = num1
    else:
        # si num1 > num2 mais num1 > num3 est fausse */
        max = num3
else:
    if num2 > num3:
        # Si num1 < num2 et num2 > num3 */
        max = num2
    else:
        # si num1 < num2 et num2 > num3 */
        max = num3
 
# afficher le résultat */
print("le maximum est = ", max)

Saisir le nombre 1 : 52
Saisir le nombre 2 : 10
Saisir le nombre 3 : 3
le maximum est =  52

**Les boucles**

In [ ]:
i=1
while (i <= 10) :
  print(i)
  i += 1

1
2
3
4
5
6
7
8
9
10

In [ ]:
for i in range(0,11,2):
  print(i)

0
2
4
6
8
10

In [ ]:
for i in range (50,-1,-5):
  print(i)

50
45
40
35
30
25
20
15
10
5
0

In [ ]:
for i in range (1,11,1):
  mult=7*i
  print("7 x",i,"=",mult)

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

**Les fonctions**

In [ ]:
def tableMult (nb):
  for i in range (1,11,1):
    mult=nb*i
    print(nb,"x",i,"=",mult)

tableMult (7)

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70