<a href="https://colab.research.google.com/github/Bennybeams/IntroPython/blob/main/Introduction_%C3%A0_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Les variables

In [ ]:
var1 = 200 #un entier
var2 = 0xC8 #en hexadécimal
var3 = 0o310 #en octal
var4 = -21.9 #un réel à virgule flottante
var5 = 3.14j #un nombre complexe
print(type(var1),var1)
print(type(var2),var2)
print(type(var3),var3)
print(type(var4),var4)
print(type(var5),var5)

<class 'int'> 200
<class 'int'> 200
<class 'int'> 200
<class 'float'> -21.9
<class 'complex'> 3.14j

In [ ]:
str = 'Hello World!'

print(type(str))
print(str)          # Affiche la chaine de caractères
print(str[0])       # Affiche le premier caractère de la chaine
print(str[2:5])     # Affiche la chaine du 3nd au 5e caractère
print(str[2:])      # Affiche la chaine à partir du 3e caractère
print(str * 2)      # Affiche la chaine deux fois
print(str + "TEST") # Affiche 'TEST' après la chaine de caractère

<class 'str'>
Hello World!
H
llo
llo World!
Hello World!Hello World!
Hello World!TEST

In [ ]:
list = [ 'abcd', 786 , 2.23, 'john', 70.2 ]
tinylist = [123, 'john']

print(type(list))
print(list)          # Affiche la liste complete
print(list[0])       # Affiche le premier élément de la liste
print(list[1:3])     # Affiche les éléments du 2nd au 3eme 
print(list[2:])      # Affiche les éléments à partir du 3eme
print(tinylist * 2)  # Affiche la liste 'tinylist' deux fois
print(list + tinylist) # Affiche la liste plus tinylist

<class 'list'>
['abcd', 786, 2.23, 'john', 70.2]
abcd
[786, 2.23]
[2.23, 'john', 70.2]
[123, 'john', 123, 'john']
['abcd', 786, 2.23, 'john', 70.2, 123, 'john']

In [ ]:
tuple = ( 'abcd', 786 , 2.23, 'john', 70.2  )
tinytuple = (123, 'john')

print(tuple)               # Affiche le tuple complet
print(tuple[0])            # Affiche le 1er élément du tuple
print(tuple[1:3])          # Affiche les éléments du 2nd au 3eme 
print(tuple[2:])           # Affiche les éléments à partir du 3eme
print(tinytuple * 2)       # Affiche le tuple 'tinytuple' deux fois
print(tuple + tinytuple)   # Affiche le tuple complet plus tinytuple

tuple[0]='wxyz'

('abcd', 786, 2.23, 'john', 70.2)
abcd
(786, 2.23)
(2.23, 'john', 70.2)
(123, 'john', 123, 'john')
('abcd', 786, 2.23, 'john', 70.2, 123, 'john')

TypeError: ignored

In [ ]:
dict = {}
dict['one'] = "This is one"
dict[2]     = "This is two"

tinydict = {'name': 'john','code':6734, 'dept': 'sales'}


print (dict['one'])       # Affiche l'élément correspondant à la clé 'one'
print (dict[2])           # Affiche l'élément correspondant à la clé 2
print (tinydict)          # Affiche le dictionnaire complet
print (tinydict.keys())   # Affiche les clés du dictionnaire
print (tinydict.values()) # Affiche les valeurs du dictionnaire

This is one
This is two
{'name': 'john', 'code': 6734, 'dept': 'sales'}
dict_keys(['name', 'code', 'dept'])
dict_values(['john', 6734, 'sales'])

In [ ]:
print(bool(1))
print(bool(0))
print(bool(12))
print(bool([1,2]))
print(bool([]))

True
False
True
True
False

## Les opérateurs

In [ ]:
a=10
b=20
add = a+b
sous = a-b
mult = a*b
modu = a%b
exp = a**b
quot = a//b
print('Addition :',add)
print('Soustraction :',sous)
print('Multiplication :',mult)
print('Modulo :',modu)
print('Exposant :',exp)
print('Quotient :',quot)

Addition : 30
Soustraction : -10
Multiplication : 200
Modulo : 10
Exposant : 100000000000000000000
Quotient : 0

In [ ]:
a = 1
print('a=',a)
a += 2
print('a+2=',a)
a -= 1
print('a-1=',a)
a *= 2
print('a*2=',a)
a **= 2
print('a**2=',a)
a /= 3
print('a/3=',a)
a %= 3
print('a%3=',a)
a //= 2
print('a//2=',a)

a= 1
a+2= 3
a-1= 2
a*2= 4
a**2= 16
a/3= 5.333333333333333
a%3= 2.333333333333333
a//2= 1.0

In [ ]:
a=1
b=2
c=3
if (a==1 and b==2):
  print('a=1 et b=2')
if (a==1 or c==3):
  print('a=1 ou c=3')
if (a==1 and b!=3):
  print("a=1 et b n'est pas égal à 3")
if (a<b):
  print("a est inferieur à b")

a=1 et b=2
a=1 ou c=3
a=1 et b n'est pas égal à 3

## Les instructions conditionelles

In [ ]:
booVenimeux = True #Est ce que ce serpent est venimeux ?
if (booVenimeux == True):
  print("Ce n'est pas un Python")

Ce n'est pas un Python

In [ ]:
booVenimeux = False #Est ce que ce serpent est venimeux ?
if (booVenimeux == True):
  print("Ce n'est pas un Python")
else :
  print("C'est peut être un Python")

C'est peut être un Python

In [ ]:
booVenimeux = False #Est ce que ce serpent est venimeux ?
booLangage = True #Est ce que son nom est aussi un langage de programmation ?
if (booVenimeux == True):
  print("Ce n'est pas un Python (il est venimeux)")
elif (booLangage == True):
  print("C'est sûrement un Python")
else :
  print("Ce n'est pas un Python (pas un langage de programmation)")

C'est sûrement un Python

## Les boucles

In [ ]:
nb = 1
while nb <= 5:
    print(nb)
    nb += 1
else:
    print("bye bye")

1
2
3
4
5
bye bye

In [ ]:
D = {}
D['nom'] = 'BERNARD'
D['prenom'] = 'Benjamin'
D['Annee'] = 2022
for cle in D:
    print(cle, ' : ', D[cle])

nom  :  BERNARD
prenom  :  Benjamin
Annee  :  2022

In [ ]:
print("Les multiples de 3 de 0 à 20 sont : ")
for i in range(0,20,3) :
    print(i)

Les multiples de 3 de 0 à 20 sont :
0
3
6
9
12
15
18

## Les fonctions

In [ ]:
def salutations(nom):
  print("Bonjour",nom)

entrée = str(input("Quel est ton nom ? "))
salutations(entrée)

Quel est ton nom ? Benjamin
Bonjour Benjamin

## Les dataframes avec Pandas

In [ ]:
import pandas as pd

data=pd.read_csv("/content/drive/MyDrive/Superstore.csv",encoding='latin1',sep=',')
data.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,2016-11-08T00:00:00Z,2016-11-11T00:00:00Z,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,2016-11-08T00:00:00Z,2016-11-11T00:00:00Z,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,2016-06-12T00:00:00Z,2016-06-16T00:00:00Z,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,2015-10-11T00:00:00Z,2015-10-18T00:00:00Z,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,2015-10-11T00:00:00Z,2015-10-18T00:00:00Z,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

In [ ]:
print(">> Selectionner la colonne 'Customer Name'")
Customers = data["Customer Name"]
print(Customers)

print(">> Selectionner la ligne n° 3")
Ligne3 = data.iloc[3]
print(Ligne3)

print(">> Selectionner la cellule de la colonne 'Customer Name' de la ligne 3")
print(data["Customer Name"][3]) # d'abord la colonne et ensuite la ligne

print(">> Selectionner la cellule de la 12eme colonne et 4eme ligne")
print(data.iat[3,10]) # d'abord la ligne et ensuite la colonne. La colonne index ne compte pas.

print(">> modifier la valeur de la cellule de la 12eme colonne et 4eme ligne")
data.iat[3,9] = "Orlando"
print("Après modif :",data.iat[3,9])

>> Selectionner la colonne 'Customer Name'
0            Claire Gute
1            Claire Gute
2        Darrin Van Huff
3         Sean O'Donnell
4         Sean O'Donnell
              ...
9989    Tom Boeckenhauer
9990         Dave Brooks
9991         Dave Brooks
9992         Dave Brooks
9993        Chris Cortes
Name: Customer Name, Length: 9994, dtype: object
>> Selectionner la ligne n° 3
Row ID                                                       4
Order ID                                        US-2015-108966
Order Date                                2015-10-11T00:00:00Z
Ship Date                                 2015-10-18T00:00:00Z
Ship Mode                                       Standard Class
Customer ID                                           SO-20335
Customer Name                                   Sean O'Donnell
Segment                                               Consumer
Country                                          United States
City                                           Fort Lauderdale
State                                                  Florida
Postal Code                                              33311
Region                                                   South
Product ID                                     FUR-TA-10000577
Category                                             Furniture
Sub-Category                                            Tables
Product Name     Bretford CR4500 Series Slim Rectangular Table
Sales                                                 957.5775
Quantity                                                     5
Discount                                                  0.45
Profit                                                -383.031
Name: 3, dtype: object
>> Selectionner la cellule de la colonne 'Customer Name' de la ligne 3
Sean O'Donnell
>> Selectionner la cellule de la 12eme colonne et 4eme ligne
Florida
>> modifier la valeur de la cellule de la 12eme colonne et 4eme ligne
Après modif : Orlando